.table-container {
	position: relative;
	box-sizing: border-box;
	border: 1px solid var(--color-outline);
	color: var(--color-on-background);
	height: 100%;
}

.table-frame-layout {
	position: relative;
	overflow: auto;
	height: 100%;
}

.table-content-layout {
	position: relative;
}

.table-record-area {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	box-sizing: border-box;
}

.instance-container {
	display: flex;
	flex-flow: row wrap;
	break-inside: avoid;
	box-sizing: border-box;
}

.cell-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	outline: 0;
	border: 0;
}