:root {
	--ref-palette-primary1: blue;
	--ref-palette-primary2: blue;
	--ref-palette-primary3: blue;
	--ref-palette-secondary1: blue;
	--ref-palette-secondary2: blue;
	--ref-palette-secondary3: blue;
	--ref-palette-tertiary1: blue;
	--ref-palette-tertiary2: blue;
	--ref-palette-tertiary3: blue;
	--ref-palette-error1: blue;
	--ref-palette-error2: blue;
	--ref-palette-error3: blue;
	--ref-palette-neutral1: blue;
	--ref-palette-neutral2: blue;
	--ref-palette-neutral3: blue;
	--ref-palette-neutral4: blue;
	--ref-palette-neutral5: blue;
}