//noinspection CssUnknownTarget
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('*'), url('/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}
//noinspection CssUnknownTarget
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: local('*'), url('/fonts/Open_Sans/OpenSans-Medium.ttf') format('truetype');
}
//noinspection CssUnknownTarget
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('*'), url('/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

//noinspection CssUnknownTarget
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: local('*'), url('/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
}
//noinspection CssUnknownTarget
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	src: local('*'), url('/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
}
//noinspection CssUnknownTarget
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: local('*'), url('/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}

//noinspection CssUnknownTarget
@font-face {
	font-family: 'PusKul';
	font-style: normal;
	src: local('*'), url('/fonts/North_Font/North_PusKul.ttf') format('truetype');
}